@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-list {
    @apply flex flex-col px-5 pt-24 gap-5 text-sm font-light
    fixed inset-[0_0_0_50%] z-10 shadow-2xl bg-white translate-x-full transition-transform
    sm:relative sm:inset-0 sm:z-auto sm:p-0 sm:flex-row sm:translate-x-0
}

.nav-list[data-visible="true"] {
    transform: translateX(0%);
}

.link {
    @apply hover:text-soft-red
}

.mobile-menu-button {
    @apply w-8 aspect-square z-[20] absolute top-8 right-6 sm:hidden
}

.mobile-menu-button[aria-expanded="false"] {
    background-image: url(../assets/images/icon-menu.svg);
    background-repeat: no-repeat;
}

.mobile-menu-button[aria-expanded="true"] {
    background-image: url(../assets/images/icon-menu-close.svg);
    background-repeat: no-repeat;
    @apply top-8
}



.new-section-titles {
    @apply pb-1 text-lg font-bold hover:text-soft-orange cursor-pointer
}

.new-section-description {
    @apply text-sm text-off-white font-light
}

.bottom-section-container {
    @apply flex gap-5 lg:flex-1 md:flex-1
}

.bottom-section-numbers {
    @apply text-grayish-blue text-3xl font-bold
}

.bottom-section-image {
    /* @apply w-24 bg-cover */
    @apply w-24 object-cover
}

.bottom-section-title {
    @apply font-bold py-2 text-very-dark-blue cursor-pointer hover:text-soft-red
}

.bottom-section-description {
    @apply text-dark-grayish-blue text-sm
}